.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.Bottls {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.Bottls > h1 {
  margin: 40px 0;
}

/* .main_cart {
  border: 2px solid green;
} */
